@import "../../../shared/variables.scss";

:host {
  transition: opacity 0.5s ease;
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

.box {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: rgba(61, 61, 61, 1);
  padding: 10px 10px;
  border-radius: 5px;

  h3 {
    font-size: 12pt;
  }

  h3,
  p {
    color: white;
    margin: 0;
  }
}
