<app-alert-box [newRecords]="newRecords" #alertBox></app-alert-box>
<div class="table-container">
  <form [formGroup]="deviceForm" id="device-form">
    <table class="records full-view" (keydown.enter)="$event.preventDefault()">
      <tr [ngClass]="blured === true ? 'blur' : ''">
        <th *ngFor="let item of tableData" [class]="item.id">
          <span (click)="setSortValue(item.id)"
            >{{ item.header | translate }}
          </span>
          <img
            src="../../../../../assets/icons/sort_arrow_up.svg"
            [id]="item.id"
          />
        </th>
      </tr>
      <tr [ngClass]="blured === true ? 'blur' : ''" class="line">
        <td colspan="7">
          <div></div>
        </td>
      </tr>
      <tr
        *ngFor="let device of devices"
        (contextmenu)="onRightClick($event, device.id, true)"
        [id]="'device' + device.id"
        [ngClass]="
          editedRecord === 0
            ? ''
            : editedRecord != device.id
            ? 'blur'
            : 'edited-value'
        "
      >
        <ng-container *ngIf="editedRecord != device.id">
          <td class="serialNumber">
            {{ device.serialNumber === "" ? "-" : device.serialNumber }}
          </td>
          <td class="model">
            {{ device.model === "null" ? "-" : device.model }}
          </td>
          <td class="type">{{ device.type === "null" ? "-" : device.type }}</td>
          <td class="room">{{ device.room === "null" ? "-" : device.room }}</td>
          <td class="owner">
            {{ device.owner === "null" ? "-" : device.owner }}
          </td>
          <td class="barCode">
            {{ device.barCode === "null" ? "-" : device.barCode }}
          </td>
          <td class="setNumber">
            {{ device.deviceSet === "null" ? "-" : device.deviceSet }}
          </td>
        </ng-container>

        <ng-container *ngIf="editedRecord === device.id">
          <td>
            <input
              type="text"
              [placeholder]="'TABLE_HEADERS.DEVICE.SERIAL_NUMBER' | translate"
              formControlName="serialNumber"
              required
            />
          </td>
          <td
            [ngClass]="
              this.deviceForm.get('deviceModel').invalid &&
              (this.deviceForm.get('deviceModel').dirty ||
                this.deviceForm.get('deviceModel').touched)
                ? 'invalid'
                : ''
            "
          >
            <input
              type="text"
              [placeholder]="'TABLE_HEADERS.DEVICE.DEVICE_MODEL' | translate"
              formControlName="deviceModel"
              (change)="insertDeviceType()"
              list="models"
              required
            />
            <datalist id="models">
              <option
                *ngFor="let item of records['deviceModel']"
                [value]="item"
              ></option>
            </datalist>
          </td>
          <td
            [ngClass]="
              this.deviceForm.get('deviceType').invalid &&
              (this.deviceForm.get('deviceType').dirty ||
                this.deviceForm.get('deviceType').touched)
                ? 'invalid'
                : ''
            "
          >
            <input
              type="text"
              [placeholder]="'TABLE_HEADERS.DEVICE.DEVICE_TYPE' | translate"
              [readOnly]="deviceTypeInactive"
              class="inactive"
              formControlName="deviceType"
              list="types"
              required
              #deviceType
            />
            <datalist id="types">
              <option
                *ngFor="let item of records['deviceType']"
                [value]="item"
              ></option>
            </datalist>
          </td>
          <td
            [ngClass]="
              this.deviceForm.get('deviceRoom').invalid &&
              (this.deviceForm.get('deviceRoom').dirty ||
                this.deviceForm.get('deviceRoom').touched)
                ? 'invalid'
                : ''
            "
          >
            <input
              type="text"
              [placeholder]="'TABLE_HEADERS.DEVICE.ROOM' | translate"
              formControlName="deviceRoom"
              list="rooms"
              required
            />
            <datalist id="rooms">
              <option
                *ngFor="let item of records['deviceRoom']"
                [value]="item"
              ></option>
            </datalist>
          </td>
          <td
            [ngClass]="
              this.deviceForm.get('deviceOwner').invalid &&
              (this.deviceForm.get('deviceOwner').dirty ||
                this.deviceForm.get('deviceOwner').touched)
                ? 'invalid'
                : ''
            "
          >
            <input
              type="text"
              [placeholder]="'TABLE_HEADERS.DEVICE.OWNER' | translate"
              formControlName="deviceOwner"
              list="owners"
              required
            />
            <datalist id="owners">
              <option
                *ngFor="let item of records['deviceOwner']"
                [value]="item"
              ></option>
            </datalist>
          </td>
          <td
            [ngClass]="
              this.deviceForm.get('deviceBarCode').invalid &&
              (this.deviceForm.get('deviceBarCode').dirty ||
                this.deviceForm.get('deviceBarCode').touched)
                ? 'invalid'
                : ''
            "
          >
            <input
              type="text"
              readonly="true"
              formControlName="deviceBarCode"
              [placeholder]="'TABLE_HEADERS.DEVICE.BAR_CODE' | translate"
              required
              class="inactive"
            />
          </td>
          <td
            [ngClass]="
              this.deviceForm.get('deviceSet').invalid &&
              (this.deviceForm.get('deviceSet').dirty ||
                this.deviceForm.get('deviceSet').touched)
                ? 'invalid'
                : ''
            "
          >
            <input
              type="text"
              [placeholder]="'TABLE_HEADERS.DEVICE.SET_NUMBER' | translate"
              formControlName="deviceSet"
              list="sets"
              required
            />
            <datalist id="sets">
              <option
                *ngFor="let item of records['deviceSet']"
                [value]="item"
              ></option>
            </datalist>
          </td>
          <app-button
            class="save-button"
            type="primary"
            [id]="'button' + device.id"
            [text]="'PAGES.DISPLAY_RECORDS.SAVE' | translate"
            (click)="accept()"
          ></app-button>
          <app-button
            class="cancel-button"
            type="primary"
            [id]="'button' + device.id"
            [text]="'PAGES.DISPLAY_RECORDS.CANCEL' | translate"
            (click)="cancel()"
          ></app-button>
        </ng-container>
      </tr>
    </table>
  </form>
</div>
