.type,
.owner,
.setNumber {
  display: none;
}

.setNumber,
.room {
  width: 150px !important;
}

@media (min-width: 1300px) {
  .type {
    display: table-cell;
  }
}

@media (min-width: 1500px) {
  .owner {
    display: table-cell;
  }
}

@media (min-width: 1650px) {
  .setNumber {
    display: table-cell;
  }
}
