<table class="records">
  <tr>
    <th>{{ "PAGES.DISPLAY_RECORDS.SERIAL_NUMBER" | translate }}</th>
    <th>{{ "PAGES.DISPLAY_RECORDS.DEVICE_MODEL" | translate }}</th>
    <th>{{ "PAGES.DISPLAY_RECORDS.DEVICE_TYPE" | translate }}</th>
    <th>{{ "PAGES.DISPLAY_RECORDS.ROOM" | translate }}</th>
    <th>{{ "PAGES.DISPLAY_RECORDS.OWNER" | translate }}</th>
    <th>{{ "PAGES.DISPLAY_RECORDS.BAR_CODE" | translate }}</th>
    <th>{{ "PAGES.DISPLAY_RECORDS.SET_NUMBER" | translate }}</th>
  </tr>
  <tr class="line">
    <td colspan="7">
      <div></div>
    </td>
  </tr>
  <tr
    *ngFor="let device of devices"
    (contextmenu)="onRightClick($event, device.id)"
    [id]="'device' + device.id"
  >
    <td>{{ device.serialNumber }}</td>
    <td>{{ device.model.name }}</td>
    <td>{{ device.type.name }}</td>
    <td>{{ device.room.name }}</td>
    <td>{{ device.owner.name }}</td>
    <td>{{ device.barCode }}</td>
    <td>{{ device.devicesSet.name }}</td>
  </tr>
  <tr class="line">
    <td colspan="7">
      <div></div>
    </td>
  </tr>
</table>
