@import "../../variables.scss";

.pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;

  img {
    &:hover {
      cursor: pointer;
    }

    &:nth-of-type(1) {
      margin-right: 10px;
    }

    &:nth-of-type(2) {
      margin-left: 10px;
    }
  }

  p {
    display: inline-block;
    margin: 0 10px;
    width: 25px;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.05s ease;

    &:hover {
      cursor: pointer;
      color: white;
    }

    &.active {
      color: $secondary;
      font-weight: bold;

      &:hover {
        cursor: default;
      }
    }
  }
}
