<table class="records">
  <tr>
    <th>
      <span (click)="setSortValue('serialNumber', serialNumber)"
        >{{ "PAGES.DISPLAY_RECORDS.COLUMNS.SERIAL_NUMBER" | translate }}
      </span>
      <img
        class="active"
        src="../../../../../assets/icons/sort_arrow_up.svg"
        #serialNumber
      />
    </th>
    <th>
      <span (click)="setSortValue('model.name', deviceModel)">{{
        "PAGES.DISPLAY_RECORDS.COLUMNS.DEVICE_MODEL" | translate
      }}</span>
      <img
        class=""
        src="../../../../../assets/icons/sort_arrow_up.svg"
        #deviceModel
      />
    </th>
    <th>
      <span (click)="setSortValue('type.name', deviceType)">{{
        "PAGES.DISPLAY_RECORDS.COLUMNS.DEVICE_TYPE" | translate
      }}</span>
      <img
        class=""
        src="../../../../../assets/icons/sort_arrow_up.svg"
        #deviceType
      />
    </th>
    <th>
      <span (click)="setSortValue('room.name', room)">{{
        "PAGES.DISPLAY_RECORDS.COLUMNS.ROOM" | translate
      }}</span>
      <img class="" src="../../../../../assets/icons/sort_arrow_up.svg" #room />
    </th>
    <th>
      <span (click)="setSortValue('owner.name', owner)">{{
        "PAGES.DISPLAY_RECORDS.COLUMNS.OWNER" | translate
      }}</span>
      <img
        class=""
        src="../../../../../assets/icons/sort_arrow_up.svg"
        #owner
      />
    </th>
    <th>
      <span (click)="setSortValue('barCode', barCode)">{{
        "PAGES.DISPLAY_RECORDS.COLUMNS.BAR_CODE" | translate
      }}</span>
      <img
        class=""
        src="../../../../../assets/icons/sort_arrow_up.svg"
        #barCode
      />
    </th>
    <th>
      <span (click)="setSortValue('deviceSet.name', setNumber)">{{
        "PAGES.DISPLAY_RECORDS.COLUMNS.SET_NUMBER" | translate
      }}</span>
      <img
        class=""
        src="../../../../../assets/icons/sort_arrow_up.svg"
        #setNumber
      />
    </th>
  </tr>
  <tr class="line">
    <td colspan="7">
      <div></div>
    </td>
  </tr>
  <tr
    *ngFor="let device of devices"
    (contextmenu)="onRightClick($event, device.id)"
    [id]="'device' + device.id"
  >
    <td>{{ device.serialNumber }}</td>
    <td>{{ device.model.name }}</td>
    <td>{{ device.type.name }}</td>
    <td>{{ device.room.name }}</td>
    <td>{{ device.owner.name }}</td>
    <td>{{ device.barCode }}</td>
    <td>{{ device.deviceSet.name }}</td>
  </tr>
  <tr class="line">
    <td colspan="7">
      <div></div>
    </td>
  </tr>
</table>
