@import "../../variables.scss";

:host {
  position: absolute;
  margin-left: -20px;
  left: 100px;
  top: 50%;
  transform: translateY(-50%);
}

p {
  background-color: $primary-dark;
  border-radius: 0 150px 150px 0;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  transition: width 0.3s ease;
  z-index: -4;
  margin-top: 9px;
  margin-bottom: 9px;

  &:hover {
    width: 220px;
    cursor: pointer;
  }

  &.active {
    width: 220px;
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}
