<div class="alert" #alert>
  <div class="box">
    <h3>{{ "PAGES.ADD_RECORD.NEW_RECORDS" | translate }}</h3>
    <div class="alert-item" *ngFor="let item of newRecords">
      <div class="text">
        <p>{{ item.text | translate }}:</p>
        <p>
          <b>{{ item.name }}</b>
        </p>
      </div>
      <app-button
        type="secondary"
        class="add-record-btn"
        text="Dodaj"
        (click)="addRecord(item)"
        btnMin
      ></app-button>
    </div>
    <app-button
      class="cancel"
      type="primary"
      text="Anuluj"
      (click)="closeAlert()"
      btnFull
    ></app-button>
  </div>
</div>
