<div class="container">
  <div class="navbar-header"><b>INV System</b></div>

  <div class="navbar">
    <div class="element">
      <div class="element-header">
        <p routerLink="/dashboard" routerLinkActive="active">
          {{ "NAVBAR.DASHBOARD" | translate }}
        </p>
      </div>
    </div>

    <div class="element active" #displayRecords>
      <div (click)="toggleSubmenu(displayRecords)" class="element-header">
        <p>{{ "NAVBAR.DISPLAY_RECORDS.TITLE" | translate }}</p>
        <img class="arrow" src="../../../../assets/icons/navbar-arrow.svg" />
      </div>
      <div class="submenu">
        <p>
          <span
            routerLink="/display-records/device-table"
            routerLinkActive="active"
            [queryParams]="{ page: '1' }"
            >{{ "NAVBAR.DISPLAY_RECORDS.SUBMENU.DEVICES" | translate }}</span
          >
        </p>
        <p>
          <span
            routerLink="/display-records/model-table"
            routerLinkActive="active"
            [queryParams]="{ page: '1' }"
            >{{ "NAVBAR.DISPLAY_RECORDS.SUBMENU.MODELS" | translate }}</span
          >
        </p>
        <p>
          <span
            routerLink="/display-records/device-set-table"
            routerLinkActive="active"
            [queryParams]="{ page: '1' }"
            >{{
              "NAVBAR.DISPLAY_RECORDS.SUBMENU.DEVICE_SETS" | translate
            }}</span
          >
        </p>
        <p>
          <span
            routerLink="/display-records/device-type-table"
            routerLinkActive="active"
            [queryParams]="{ page: '1' }"
            >{{
              "NAVBAR.DISPLAY_RECORDS.SUBMENU.DEVICE_TYPES" | translate
            }}</span
          >
        </p>
        <p>
          <span
            routerLink="/display-records/owner-table"
            routerLinkActive="active"
            [queryParams]="{ page: '1' }"
            >{{ "NAVBAR.DISPLAY_RECORDS.SUBMENU.OWNERS" | translate }}</span
          >
        </p>
        <p>
          <span
            routerLink="/display-records/room-table"
            routerLinkActive="active"
            [queryParams]="{ page: '1' }"
            >{{ "NAVBAR.DISPLAY_RECORDS.SUBMENU.ROOMS" | translate }}</span
          >
        </p>
      </div>
    </div>

    <div class="element" #updateRecords>
      <div (click)="toggleSubmenu(updateRecords)" class="element-header">
        <p>{{ "NAVBAR.UPDATE_RECORDS.TITLE" | translate }}</p>
        <img class="arrow" src="../../../../assets/icons/navbar-arrow.svg" />
      </div>
      <div class="submenu">
        <p>
          <span routerLink="/update-records/room" routerLinkActive="active">{{
            "NAVBAR.UPDATE_RECORDS.SUBMENU.ROOM" | translate
          }}</span>
        </p>
        <p>
          <span routerLink="/update-records/set" routerLinkActive="active">{{
            "NAVBAR.UPDATE_RECORDS.SUBMENU.SET" | translate
          }}</span>
        </p>
      </div>
    </div>

    <div class="element" #inventory>
      <div (click)="toggleSubmenu(inventory)" class="element-header">
        <p>{{ "NAVBAR.INVENTORY.TITLE" | translate }}</p>
        <img class="arrow" src="../../../../assets/icons/navbar-arrow.svg" />
      </div>
      <div class="submenu">
        <p>
          <span routerLink="/inventory" routerLinkActive="active">{{
            "NAVBAR.INVENTORY.DO_INVENTORY" | translate
          }}</span>
        </p>
        <p>
          <span
            routerLink="/inventory/raports"
            routerLinkActive="active"
            [queryParams]="{ page: '1' }"
            >{{ "NAVBAR.INVENTORY.RAPORTS" | translate }}</span
          >
        </p>
      </div>
    </div>

    <div class="element">
      <div class="element-header">
        <p routerLink="/add-record" routerLinkActive="active">
          {{ "NAVBAR.ADD_RECORD.TITLE" | translate }}
        </p>
      </div>
    </div>

    <div class="element">
      <div class="element-header">
        <p
          routerLink="/history"
          routerLinkActive="active"
          [queryParams]="{ page: '1' }"
        >
          {{ "NAVBAR.OPERATION_HISTORY" | translate }}
        </p>
      </div>
    </div>

    <div class="element">
      <div class="element-header">
        <p routerLink="/print-barcodes" routerLinkActive="active">
          {{ "NAVBAR.PRINT_BARCODES" | translate }}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="item dashboard active" #dashboard>
    <div
      class="clickable"
      (mouseover)="mouseEnter(1)"
      (mouseleave)="mouseLeave(1)"
      (click)="onClick(1)"
      routerLink="/dashboard"
    >
      <img src="../../assets/icons/dashboard_icon.svg" />
      <a>{{ "NAVBAR.DASHBOARD" | translate }}</a>
    </div>
  </div>
  <div class="item display-records" #displayRecords>
    <div
      class="clickable"
      (mouseover)="mouseEnter(2)"
      (mouseleave)="mouseLeave(2)"
      (click)="onClick(2)"
      routerLink="/display-records/device-table"
      [queryParams]="{ page: '1' }"
    >
      <img src="../../assets/icons/show_record_icon.svg" />
      <a>{{ "NAVBAR.DISPLAY_RECORDS.TITLE" | translate }}</a>
    </div>
  </div>
  <div class="item update-records" #updateRecords>
    <div
      class="clickable"
      (mouseover)="mouseEnter(3)"
      (mouseleave)="mouseLeave(3)"
      (click)="onClick(3)"
      routerLink="/update-records/update-room"
    >
      <img src="../../assets/icons/update_record_icon.svg" />
      <a>{{ "NAVBAR.UPDATE_RECORDS.TITLE" | translate }}</a>
    </div>
    <app-subnavbar
      elementId="updateRecords"
      [items]="updateRecordsSubnavbarItems"
    ></app-subnavbar>
  </div>
  <div class="item import-export" #importExport>
    <div
      class="clickable"
      (mouseover)="mouseEnter(4)"
      (mouseleave)="mouseLeave(4)"
      (click)="onClick(4)"
    >
      <img src="../../assets/icons/export_icon.svg" />
      <a routerLink="#">{{ "NAVBAR.IMPORT_EXPORT.TITLE" | translate }}</a>
    </div>
    <div class="submenu"></div>
  </div>
  <div class="item history" #history>
    <div
      class="clickable"
      (mouseover)="mouseEnter(5)"
      (mouseleave)="mouseLeave(5)"
      (click)="onClick(5)"
    >
      <img src="../../assets/icons/history_icon.svg" />
      <a routerLink="#">{{ "NAVBAR.OPERATION_HISTORY" | translate }}</a>
    </div>
  </div>
  <div class="item add-record" #addRecord>
    <div
      class="clickable"
      (mouseover)="mouseEnter(6)"
      (mouseleave)="mouseLeave(6)"
      (click)="onClick(6)"
      routerLink="/add-record"
    >
      <img src="../../assets/icons/add_record_icon.svg" />
      <a>{{ "NAVBAR.ADD_RECORD.TITLE" | translate }}</a>
    </div>
  </div>
  <div class="wave" #wave>
    <img src="../../assets/icons/wave.svg" />
  </div>
  <div class="background"></div>
</div> -->
