<div class="table-container">
  <table class="records">
    <tr>
      <th *ngFor="let item of tableData">
        <span (click)="setSortValue(item.id)"
          >{{ item.header | translate }}
        </span>
        <img
          src="../../../../../assets/icons/sort_arrow_up.svg"
          [id]="item.id"
        />
      </th>
    </tr>
    <tr class="line">
      <td colspan="7">
        <div></div>
      </td>
    </tr>
    <tr
      *ngFor="let model of models"
      (contextmenu)="onRightClick($event, model.id)"
      [id]="'device' + model.id"
    >
      <td>{{ model.name }}</td>
      <td>{{ model.type }}</td>
      <td>{{ model.count }}</td>
    </tr>
  </table>
</div>
