<div class="table-container">
  <form [formGroup]="ownerForm" id="owner-form">
    <table class="records">
      <tr [ngClass]="blured === true ? 'blur' : ''">
        <th *ngFor="let item of tableData">
          <span (click)="setSortValue(item.id)"
            >{{ item.header | translate }}
          </span>
          <img src="assets/icons/sort_arrow_up.svg" [id]="item.id" />
        </th>
      </tr>
      <tr [ngClass]="blured === true ? 'blur' : ''" class="line">
        <td colspan="7">
          <div></div>
        </td>
      </tr>
      <tr
        *ngFor="let owner of owners"
        (contextmenu)="onRightClick($event, owner.id)"
        [id]="'device' + owner.id"
        [ngClass]="
          editedRecord === -1
            ? ''
            : editedRecord != owner.id
            ? 'blur'
            : 'edited-value'
        "
      >
        <ng-container *ngIf="editedRecord != owner.id">
          <td>{{ owner.name === "null" ? "-" : owner.name }}</td>
          <td>{{ owner.itemsCount }}</td>
        </ng-container>

        <ng-container *ngIf="editedRecord === owner.id">
          <td
            [ngClass]="
              this.ownerForm.get('ownerName').invalid &&
              (this.ownerForm.get('ownerName').dirty ||
                this.ownerForm.get('ownerName').touched)
                ? 'invalid'
                : ''
            "
          >
            <input
              type="text"
              [placeholder]="'TABLE_HEADERS.OWNER.OWNER_NAME' | translate"
              formControlName="ownerName"
              (change)="checkIfNameExists()"
              required
            />
          </td>
          <td>
            <input
              type="text"
              readonly="true"
              [placeholder]="'TABLE_HEADERS.OWNER.OWNER_COUNT' | translate"
              formControlName="ownerCount"
              class="inactive"
              required
            />
          </td>
          <app-button
            class="save-button"
            type="primary"
            [id]="'button' + owner.id"
            [text]="'PAGES.DISPLAY_RECORDS.SAVE' | translate"
            (click)="accept()"
          ></app-button>
          <app-button
            class="cancel-button"
            type="primary"
            [id]="'button' + owner.id"
            [text]="'PAGES.DISPLAY_RECORDS.CANCEL' | translate"
            (click)="cancel()"
          ></app-button>
        </ng-container>
      </tr>

      <!-- <tr *ngFor="let i of [].constructor(10 - devices.length)"></tr> -->
    </table>
  </form>
</div>
