<div class="content-container">
  <h1 class="header">{{ "PAGES.INVENTORY.RAPORTS" | translate }}</h1>
  <div class="center">
    <div class="table-container">
      <table class="records">
        <tr>
          <th>
            <span (click)="setSortValue('room')">Pomieszczenie</span>
            <img
              src="../../../../../assets/icons/sort_arrow_up.svg"
              id="room"
            />
          </th>
          <th>
            <span (click)="setSortValue('date')">Data</span>
            <img
              src="../../../../../assets/icons/sort_arrow_up.svg"
              id="date"
            />
          </th>
        </tr>
        <tr class="line">
          <td colspan="7">
            <div></div>
          </td>
        </tr>
        <tr
          *ngFor="let inventory of inventories"
          class="hoverable"
          [routerLink]="['/inventory/raports/', inventory.id]"
        >
          <td>{{ inventory.room }}</td>
          <td>{{ inventory.date }}</td>
        </tr>
      </table>
    </div>
  </div>
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
  ></app-pagination>
</div>
