<div class="content-container">
  <h1 class="header">{{ "PAGES.DISPLAY_RECORDS.TITLE" | translate }}</h1>
  <div class="center">
    <div [ngClass]="blured ? 'blur' : ''" class="tables">
      <p
        id="deviceSelect"
        (click)="setRouterLink('device-table', device, 'deviceSelect')"
        #device
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.DEVICE" | translate }}</span>
      </p>
      <p
        id="modelSelect"
        (click)="setRouterLink('model-table', model, 'modelSelect')"
        #model
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.MODEL" | translate }}</span>
      </p>
      <p
        id="deviceSetSelect"
        (click)="
          setRouterLink('device-set-table', deviceSet, 'deviceSetSelect')
        "
        #deviceSet
      >
        <span>{{
          "PAGES.DISPLAY_RECORDS.DISPLAY.DEVICE_SET" | translate
        }}</span>
      </p>
      <p
        id="deviceTypeSelect"
        (click)="
          setRouterLink('device-type-table', deviceType, 'deviceTypeSelect')
        "
        #deviceType
      >
        <span>{{
          "PAGES.DISPLAY_RECORDS.DISPLAY.DEVICE_TYPE" | translate
        }}</span>
      </p>
      <p
        id="ownerSelect"
        (click)="setRouterLink('owner-table', owner, 'ownerSelect')"
        #owner
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.OWNER" | translate }}</span>
      </p>
      <p
        id="roomSelect"
        (click)="setRouterLink('room-table', room, 'roomSelect')"
        #room
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.ROOM" | translate }}</span>
      </p>
    </div>

    <div [ngClass]="blured ? 'blur' : ''" class="search-bar">
      <input
        type="text"
        [placeholder]="'PAGES.DISPLAY_RECORDS.SEARCH' | translate"
        #searchBar
        (keyup)="onTyping()"
      />
    </div>

    <router-outlet></router-outlet>
  </div>

  <app-pagination
    [ngClass]="blured ? 'blur' : ''"
    [currentPage]="currentPage"
    [pages]="pages"
    [totalPages]="totalPages"
  ></app-pagination>

  <app-context-menu></app-context-menu>
</div>
