.select-table,
.select-display-type {
  display: inline-block;
  color: white;
  -webkit-user-select: none;

  label {
    margin-right: 20px;
    font-weight: bold;
  }

  select {
    background-color: #3d3d3d;
    color: white;
    padding: 7px 13px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  &:nth-of-type(2) {
    margin-left: 50px;
  }
}

.search-bar {
  input {
    padding: 7px 13px;
    background-color: white;
    border: none;
    margin: 60px 0;
  }
}
