.select-table,
.select-display-type {
  display: inline-block;
  color: white;
  -webkit-user-select: none;

  label {
    margin-right: 20px;
    font-weight: bold;
  }

  select {
    background-color: #3d3d3d;
    color: white;
    padding: 7px 13px;
    border: none;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 50px;

    &:hover {
      cursor: pointer;
    }
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.search-bar {
  input {
    padding: 7px 13px;
    background-color: white;
    border: none;
  }
}
