<div class="content-container">
  <h1 class="header">{{ "PAGES.DISPLAY_RECORDS.TITLE" | translate }}</h1>
  <div class="center">
    <div [ngClass]="blured ? 'blur' : ''" class="tables">
      <p
        id="deviceSelect"
        routerLink="/display-records/device-table"
        routerLinkActive="active"
        [queryParams]="{ page: '1' }"
        #device
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.DEVICE" | translate }}</span>
      </p>
      <p
        id="modelSelect"
        routerLink="/display-records/model-table"
        routerLinkActive="active"
        [queryParams]="{ page: '1' }"
        #model
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.MODEL" | translate }}</span>
      </p>
      <p
        id="deviceSetSelect"
        routerLink="/display-records/device-set-table"
        routerLinkActive="active"
        [queryParams]="{ page: '1' }"
        #deviceSet
      >
        <span>{{
          "PAGES.DISPLAY_RECORDS.DISPLAY.DEVICE_SET" | translate
        }}</span>
      </p>
      <p
        id="deviceTypeSelect"
        routerLink="/display-records/device-type-table"
        routerLinkActive="active"
        [queryParams]="{ page: '1' }"
        #deviceType
      >
        <span>{{
          "PAGES.DISPLAY_RECORDS.DISPLAY.DEVICE_TYPE" | translate
        }}</span>
      </p>
      <p
        id="ownerSelect"
        routerLink="/display-records/owner-table"
        routerLinkActive="active"
        [queryParams]="{ page: '1' }"
        #owner
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.OWNER" | translate }}</span>
      </p>
      <p
        id="roomSelect"
        routerLink="/display-records/room-table"
        routerLinkActive="active"
        [queryParams]="{ page: '1' }"
        #room
      >
        <span>{{ "PAGES.DISPLAY_RECORDS.DISPLAY.ROOM" | translate }}</span>
      </p>
    </div>

    <div [ngClass]="blured ? 'blur' : ''" class="search-bar">
      <input
        type="text"
        [placeholder]="'PAGES.DISPLAY_RECORDS.SEARCH' | translate"
        value=""
        #searchBar
        (keyup)="onTyping()"
      />
    </div>

    <router-outlet></router-outlet>
  </div>

  <app-pagination
    [ngClass]="blured ? 'blur' : ''"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
  ></app-pagination>

  <app-context-menu></app-context-menu>
  <app-popup
    successText="Kod kreskowy został dodany poprawnie"
    failureText="Kod kreskowy jest już dodany"
    #popup
  ></app-popup>
  <app-alert #alert></app-alert>
</div>
