<div class="table-container">
  <table class="records">
    <tr>
      <th *ngFor="let item of tableData">
        <span (click)="setSortValue(item.id)"
          >{{ "TABLE_HEADERS." + item.header | translate }}
        </span>
        <img
          src="../../../../../assets/icons/sort_arrow_up.svg"
          [id]="item.id"
        />
      </th>
    </tr>
    <tr class="line">
      <td colspan="7">
        <div></div>
      </td>
    </tr>
    <tr
      *ngFor="let deviceType of deviceTypes"
      (contextmenu)="onRightClick($event, deviceType.id)"
      [id]="'device' + deviceType.id"
    >
      <td>{{ deviceType.name }}</td>
      <td>{{ deviceType.count }}</td>
    </tr>

    <tr *ngFor="let i of [].constructor(10 - devices.length)"></tr>
  </table>
</div>
