.serialNumber,
.setNumber {
  display: none;
}

td,
th {
  width: 160px !important;
}

@media (min-width: 1300px) {
  .setNumber {
    display: table-cell;
  }
}

@media (min-width: 1450px) {
  .serialNumber {
    display: table-cell;
  }
}

@media (min-width: 1650px) {
  td,
  th {
    width: 200px !important;
  }
}
