<div class="content-container">
  <h1 class="header">{{ "PAGES.INVENTORY.DO_INVENTORY" | translate }}</h1>

  <div class="center">
    <div class="content">
      <div class="top-section left-section">
        <h2 [ngClass]="valueAccepted ? 'inactive' : ''">
          {{ "PAGES.INVENTORY.FIRST_TEXT" | translate }}
        </h2>
        <div class="attribute-select">
          <label [ngClass]="valueAccepted ? 'inactive' : ''" for="room-input">{{
            "PAGES.INVENTORY.ATTRIBUTE" | translate
          }}</label>
          <select
            name="room-input"
            (change)="changeAttribute()"
            [disabled]="valueAccepted"
            #attributeSelect
          >
            <option value="room">
              {{ "PAGES.INVENTORY.ROOM" | translate }}
            </option>
            <option value="owner">
              {{ "PAGES.INVENTORY.OWNER" | translate }}
            </option>
          </select>
        </div>
        <div class="value-select">
          <select
            *ngIf="selectedAttirbute === 'room'"
            name="room-input"
            [disabled]="valueAccepted"
            #roomInput
          >
            <option *ngFor="let room of rooms" [value]="room.id">
              {{ room.name }}
            </option>
          </select>
          <select
            *ngIf="selectedAttirbute === 'owner'"
            name="owner-input"
            [disabled]="valueAccepted"
            #ownerInput
          >
            <option *ngFor="let owner of owners" [value]="owner.id">
              {{ owner.name }}
            </option>
          </select>
        </div>

        <app-button
          class="accept-button"
          [type]="valueAccepted ? 'secondary' : 'primary'"
          [text]="valueAccepted ? 'Anuluj' : 'Zatwierdź'"
          (mousedown)="valueSelectAccept()"
        ></app-button>

        <div class="info" *ngIf="valueAccepted">
          <h2>{{ "PAGES.UPDATE_RECORDS.SET_SCAN_DEVICES" | translate }}</h2>

          <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </div>
      </div>
      <div class="bottom-section right-section">
        <div class="scroll" *ngIf="valueAccepted">
          <div class="scanned-products">
            <p>{{ "PAGES.UPDATE_RECORDS.SCANNED_DEVICES" | translate }}</p>
            <div class="device-container">
              <div
                class="device"
                *ngFor="let product of devices"
                [id]="product.barcode"
              >
                <p>{{ product.model === "" ? "-" : product.model }}</p>
                <p>
                  {{
                    product.inventoryNumber === ""
                      ? "-"
                      : product.inventoryNumber
                  }}
                </p>
                <p>{{ product.barcode === "" ? "-" : product.barcode }}</p>
                <!-- <div (click)="removeBarcode(product.barCode)" class="x">
                <div class="line"></div>
                <div class="line"></div>
              </div> -->
              </div>
            </div>
          </div>
        </div>
        <app-button
          class="finish-button"
          type="primary"
          text="Zakończ"
          (click)="finish()"
          *ngIf="valueAccepted"
        ></app-button>
      </div>
    </div>
    <app-popup
      failureText="Kod kreskowy nie istnieje"
      successText="Kod kreskowy został już zeskanowany"
      #popup
    ></app-popup>
  </div>
</div>
