/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #1d455b;
}

p,
a {
  font-size: 10pt;
}

.content-container {
  margin-left: 120px;
  text-align: center;
  position: relative;
  min-height: 870px;
  height: calc(100vh - 30px);
}

.header {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -47%);
}

input,
select {
  border-radius: 5px;
  &:focus {
    outline: none;
  }
}
