@import "./app/shared/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: $primary;
}

* {
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
}

p,
a {
  font-size: 10pt;
}

.content-container {
  margin-left: 320px;
  text-align: center;
  position: relative;
  min-height: 870px;
  height: calc(100vh - 30px);
}

.header {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  -webkit-user-select: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -47%);
  width: fit-content;
}

input,
select,
textarea {
  border-radius: 5px;
  padding: 7px 7px;
  background-color: white;
  border: none;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
  font-family: "Montserrat", sans-serif;
}

.blur {
  filter: blur(5px);
  pointer-events: none;
}
